<div class="content">
  <h2 class="headline">Full Item</h2>
  <!-- <app-add-button [routerLink]="['/create-item']"></app-add-button> -->

  <div *ngIf="itemEntries.length === 0; else content">
    Content is loading...
    ITEM ID - {{item.id}}
  </div>

  <ng-template #content>
    <div class="card-container">
      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[0][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[0][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[1][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[1][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[2][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[2][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[3][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[3][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[4][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[4][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[5][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[5][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[6][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[6][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[7][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[7][1] }}</span>
          </div>
        </div>
      </div>

      <div>
        <div class="card_wrapper">
          <div class="card">
            <span>{{ itemEntries.length !== 0 && itemEntries[8][0] }}</span>
          </div>
        </div>
        <div class="card_wrapper">
          <div class="card">
            <img class="item_image" src={{
              itemEntries.length !== 0 && itemEntries[8][1]
            }}
            alt="itemImage"/>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
